<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/dfa7461034.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/master.css">
</head>
<body>
    <h2>Contact List using NodeJS</h2>
    <ul>
        <% for(let i of contact_list){ %>
            <li>
                <div class="contact-div">
                    <%= i.name %> : 
                    <%= i.phone %> 
                    <a href="/delete-contact/?id=<%= i._id %> ">
                        <i class="fas fa-window-close"></i>
                    </a>
                </div>
            </li>
        <%  } %> 
    </ul>
    <form action="/add-contact" method="POST" class="form">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter Phone" required>
        <button type="submit">Create Contact</button>
    </form>
    <script src="js/home.js"></script>
</body>
</html>